## Visual Studio
.vs/
.vscode/

## Build results
bin/
obj/
[Dd]ebug/
[Rr]elease/

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## .NET Core
project.lock.json
project.fragment.lock.json
artifacts/